<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>janken game</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Janken GAME!</h1>
  <div th:if="${luser}">
    Hi [[${luser}]]
  </div>

  <h2>エントリー</h2>

  <div th:if="${entry}">
    <ul>
      <li th:each="user : ${entry.users}"> [[${user}]]<br></li>
    </ul>
  </div>

  <div>
    <a href="/jankengame?hand=Gu">ぐー</a>
    <a href="/jankengame?hand=Tyoki">ちょき</a>
    <a href="/jankengame?hand=Pa">ぱー</a>
  </div>

  <div th:if=${phand}>
    あなたの手 [[${phand}]]
  </div>

  <div th:if=${cpuhand}>
    相手の手 [[${cpuhand}]]
  </div>

  <div th:if=${result}>
    結果 [[${result}]]
  </div>
</body>

</html>
